<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center" >
  <h1>
    Cloudinary Image Management Sample Project
  </h1>
  <label for="ImageUpload">Upload your Image</label><br>
  <input type="file" id="Image" name="Image"class="upload"(change)="onFileChange($event)" #fileInput>
<button type="submit" class="submit" [disabled]="!valid" (click)="onSubmit($event)">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
<button type="button" class="clear" [disabled]="!valid" (click)="clearFile()">Clear file</button>

<h2>
  {{message}}
</h2>

</div>
